body{
    background: linear-gradient(to right, black, rgb(66, 66, 66));
    text-align: center;
}
h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    font-family: sans-serif;
    font-style: oblique;
}
input{
    background-color: black;
    color: white;
    padding: 0.5pc;
    border-radius: 40px;
    border: 3px solid red;
}
input:focus{
    color: black;
    background-color: white;
}
button{
    background-color: green;
    color: wheat;
    padding: 0.6pc;
    padding-right: 1.5pc;
    padding-left: 1.5pc;
    border-radius: 45px;
    border:  4px solid darkmagenta;
}